<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blogInShow.title %></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blogInShow.image %>">
            
            <div class="content">
                <span><%= blogInShow.created.toDateString() %></span>
            </div>
            
            <div class="description">
                <p><%- blogInShow.body%></p>
            </div>
            
            <a class="ui blue basic button" href="/blogs/<%= blogInShow._id%>/edit">Edit</a>
            
            <form id="delete" action="/blogs/<%= blogInShow._id%>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>



<% include partials/footer %>